.upper_div {
    background-image: url(thirdpic.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;

}

.heading {

    color: white;
    size: 40px;
    padding-left: 5%;
}

.heading1 {

    color: black;
    size: 40px;
    padding-left: 70%;
}

.first_line {
    color: black;
    padding-top: 50px;
    padding-left: 15%;

}



.paragraph {
  
    font-size: 10px;
    color: white;

}

.join_button {
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.join_button:hover {
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #03784d;
    border: black dotted 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}





.lower_div {

    background-color: #939393;
    border: #939393 solid 30px;
    text-align: center;



}

.table {
    width: 100%;
    height: 100px;
    text-align: center;
}

.one {
    font-size: 20px;
    background-color: rgb(104, 104, 104);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    border-radius: 12px;
}

.two {
    background-color: rgb(104, 104, 104);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    border-radius: 12px;
}

.three {
    background-color: rgb(104, 104, 104);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    border-radius: 12px;

}

.para1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.para2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.para3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.para10 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 10px;

}

.para20 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 10px;


}

.para30 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 10px;


}

.fb {
    height: 35px;
    width: 35px;
}

.msg {
    height: 35px;
    width: 35px;
}

.link {
    height: 35px;
    width: 35px;
}

.wp {
    height: 35px;
    width: 35px;
}

.footer {

    padding: 3%;
    background-color: #1e1f23;
}

.social {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contact {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 20px;
    float: right;
    color: white;

}

.support {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 20px;
    float: right;
    color: white;

}

.contact:hover {

    text-decoration: underline;
    color: rgb(228, 224, 224)
}

.support:hover {


    text-decoration: underline;
    color: rgb(228, 224, 224)
}

.wp:hover {
    zoom: 1.2;
}

.msg:hover {
    zoom: 1.2;
}

.fb:hover {
    zoom: 1.2;
}

.link:hover {
    zoom: 1.2;
}
