
.upper_div {
    background-image: url(bg1.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;

}

.heading {

    color: white;
    size: 40px;
    padding-left: 5%;
}

.heading1 {

    color: black;
    size: 40px;
    padding-left: 70%;
}

.first_line {
    color: black;
    padding-top: 50px;
    padding-left: 15%;

}



.paragraph {
  
    font-size: 10px;
    color: white;

}

.join_button {
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.join_button:hover {
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #03784d;
    border: black dotted 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.table {
    margin-top: 80px;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: 100px;
   border-spacing: 15px;
 
}

.table td{

    background-image: url(bg3.png);
    border-radius: 10px;
    background-size: cover;
}


.para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 17px;
   font-weight: bold;
   color: white;
}




.mid_div{
    height: 500px;
    width: 100%;
    margin-top: 200px;
    text-align: center;
    background-image: url(bg2.png);
   background-size: cover;
}
.why{
    font-size: 35px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.example1{
    height: auto;
    width: 500px;
    float: left;
    margin-left: 80px;
    border-radius: 30px;
}
.des{
    margin-right: 70px;
    padding: 60px;
    padding-top: 80px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    height: auto;
    width: 550px;
    float:right;
  
   border-radius: 55px;
}

.mid_div2{
    margin-top: 80px;
    height: 680px;
    width: 100%;
    text-align: center;

   
}
.offer{
    font-size: 35px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
   
}

.offer_des{
    margin: 35px;
    float: left;
    padding: 30px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    height: 180px;
    width: 280px;
    border-radius: 25px;
    box-shadow: 10px 10px gray;;
}


.mid_div3{
    height: 500px;
    width: 100%;
    background-image: url(bg3.png);
    background-size: cover;
    text-align: center;
    padding-top: 10px;
    
}
.why2{
    font-size: 35px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.example2{
    height: auto;
    width: 550px;
    float: right;
    margin-right: 60px;
    border-radius: 20px;
}
.des2{
    margin-left: 80px;
    padding: 50px;
    padding-top: 80px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    height: auto;
    width: 550px;
    float:left;
   border-radius: 35px;
  
}
.fb {
    height: 35px;
    width: 35px;
}

.msg {
    height: 35px;
    width: 35px;
}

.link {
    height: 35px;
    width: 35px;
}

.wp {
    height: 35px;
    width: 35px;
}

.footer {

    padding: 3%;
    background-color: #1e1f23;
}

.social {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contact {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 20px;
    float: right;
    color: white;

}

.support {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 20px;
    float: right;
    color: white;

}
.address{
    margin-left: 40%;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact:hover {

    text-decoration: underline;
    color: rgb(228, 224, 224)
}

.support:hover {


    text-decoration: underline;
    color: rgb(228, 224, 224)
}

.wp:hover {
    zoom: 1.2;
}

.msg:hover {
    zoom: 1.2;
}

.fb:hover {
    zoom: 1.2;
}
.link:hover {
    zoom: 1.2;
}
